.login_full_container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  background-image: url("../../assets/BG.svg");
  background-size: cover;
  padding: 70px 10px 0 40px;

  width: 100%;
}


.login_container {
  justify-content: center;
}

.login_wrapper {
  box-sizing: border-box;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
}


.login_box {
  box-shadow: 0px 0px 6px 0px rgb(56, 55, 55);

  background-color: white;

  border-radius: 5px;
  width: 90%;
  height: auto;
}

.login__form {
  box-sizing: border-box;

  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login_title {
  color: #4b456f;
  padding-top: 2vh;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}


.title_ev {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  background-image: linear-gradient(310deg, #000000, #ff4800);
  padding: 10px 0;
  font-weight: 700;
  font-size: 45px;
  z-index: 1;
}


.login_form a {
  color: chocolate;
}

.login_form_input {
  font-size: 14px;
  padding: 10px;
}



.login_form_input input:focus {
  outline: none;
  border-bottom: 2px solid #fe8402;
}

.email__input,
.pass__input {
  width: 80%;
  padding: 10px 5px;
  border: 1px solid #999999;
  border-radius: 3px;
  margin-bottom: -10px;
}

.login_form_input button {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-radius: 3px;
  background-color: #fe8402;
  color: white;
  margin: 20px 0px 15px;
  font-size: 14px;
}

.login_form_input button:hover {
  cursor: pointer;
  background-color: #516cf0;
  cursor: pointer;
}

.login__form a {
  color: #fe8402;
  margin-bottom: 70px;
}

.login__form a:hover {
  color: #da7000;
}

.login_email {
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: -10px;
  padding: 10px 5px;
  width: 100%;
}

.login_width {
  padding: 1vh 7vh 10vh;
}


.login_password {
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: -10px;
  padding: 10px 5px;
  width: 100%;
}

.Evangadi_description {
  color: #656565;
  padding-top: 20px;
}

.login_new:last-child {
  color: red;
}


.login_invalid {
  color: rgb(255, 0, 0);
  font-size: 2vh;
  width: 100%;
  text-align: center;
  /* margin-bottom: -50px; */
  font-weight: 600;
}

.login_invalid_wrap {
  height: 20px;
}

.login_btn {
  background-color: #FF8C0F;
  padding: 5px 0;
  border-radius: 3px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  color: white;
  transition: 1000ms;
  font-weight: 600;
}

.login_btn:hover {
  background-color: #b86001;
}

